<section class="banner_area">
  <div class="container">
    <div class="banner_text">
      <h3>Testimonials</h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="service.html">Testimonials</a></li>
      </ul>
    </div>
  </div>
</section>
<!--================End Main Header Area =================-->
<!--================Testimonials item Area =================-->
<section class="testimonials_item_area p_100">
  <div class="container">
    <div class="testi_item_inner">
      <div class="media">
        <div class="d-flex">
          <img src="https://media.licdn.com/dms/image/v2/D4E03AQEpwmLfBWVjHw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1702923720789?e=1748476800&v=beta&t=MFEBqugCYINwkhce05h_On2bJ-Zhpmcqyur8HudHE1Y" alt="">
          <h3>“</h3>
        </div>
        <div class="media-body">
          <p>I've been coming here for years, and their pastries never disappoint! The croissants are the best I've ever had, and the service is always friendly and welcoming</p>
          <h5>- Mohaamad Frehat</h5>
        </div>
      </div>
      <div class="media">
        <div class="d-flex">
          <img src="https://media.licdn.com/dms/image/v2/D4D03AQHzTJ-gk_BKOw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1691245063093?e=1748476800&v=beta&t=maC2oILuGUsnSbAXwHrzgIinweVzp-mRhfRPWyy0IUg" alt="">
          <h3>“</h3>
        </div>
        <div class="media-body">
          <p>I've been coming here for years, and their pastries never disappoint! The croissants are the best I've ever had, and the service is always friendly and welcoming</p>
          <h5>- Ayman Al-Jaradat</h5>
        </div>
      </div>
      <div class="media">
        <div class="d-flex">
          <img src="https://media.licdn.com/dms/image/v2/D4E03AQFvJHYAR_PMjQ/profile-displayphoto-shrink_800_800/B4EZStkLrxHcAg-/0/1738078732448?e=1748476800&v=beta&t=MqtKOtLAP72k_0sf7itAG_otmhb3c-MM8RjBokRpr7Q" alt="" width="200" height="225">
          <h3>“</h3>
        </div>
        <div class="media-body">
          <p>I've been coming here for years, and their pastries never disappoint! The croissants are the best I've ever had, and the service is always friendly and welcoming</p>
          <h5>- Amer Abu Al Hayja</h5>
        </div>
      </div>
      <div class="media">
        <div class="d-flex">
          <img src="https://media.licdn.com/dms/image/v2/D4E03AQHZ8ODIAYX6Jg/profile-displayphoto-shrink_200_200/B4EZWrgUAnGwAc-/0/1742339142746?e=1748476800&v=beta&t=YeBF-aBis8P_nOeYf7WdgIwF_eEvJHUxlVos5AVkBHM" alt="">
          <h3>“</h3>
        </div>
        <div class="media-body">
          <p>I've been coming here for years, and their pastries never disappoint! The croissants are the best I've ever had, and the service is always friendly and welcoming</p>
          <h5>- Salam Almomani</h5>
        </div>
      </div>
      <div class="media">
        <div class="d-flex">
          <img src="https://media.licdn.com/dms/image/v2/D4E03AQHPavOJrAlApg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1673085050200?e=1748476800&v=beta&t=pJiNqPgexuVc2QrJ7BONlmQtlb7iWzvqfXU9eIa7aU8" alt="">
          <h3>“</h3>
        </div>
        <div class="media-body">
          <p>I've been coming here for years, and their pastries never disappoint! The croissants are the best I've ever had, and the service is always friendly and welcoming</p>
          <h5>- Batool Walid</h5>
        </div>
      </div>
    </div>
  </div>
</section>
