body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

/* General Styling */
.main-title {
  color: #FF69B4;
  text-align: center;
  margin-bottom: 30px;
}

/* Pink Buttons */
.pink-button {
  background-color: #FFB6C1;
  border: none;
  color: white;
  transition: background-color 0.3s;
}

  .pink-button:hover {
    background-color: #FF69B4;
  }

/* Modal Styling */
.modal-content {
  border-radius: 10px;
}

/* Table Styling */
.table th {
  background-color: #FFB6C1;
  color: white;
  text-align: center;
}

.table td {
  text-align: center;
}

/* Form Styling */
.form-group label {
  font-weight: bold;
}

/* Cancel Button */
.btn-secondary {
  background-color: #6c757d;
  color: white;
}


/* التأثير عند ظهور التنبيه */
.swal2-popup {
  opacity: 0; /* جعل العنصر غير مرئي عند بداية ظهوره */
  transition: opacity 0.3s ease-in-out; /* تأثير الانتقال عند التلاشي */
}

  .swal2-popup.swal2-show {
    opacity: 1; /* عندما يكون العنصر مرئيًا بعد تطبيق التلاشي */
  }
