body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

/* General Styling */
.main-title {
  color: #FF69B4;
  text-align: center;
  margin-bottom: 30px;
}

/* Pink Buttons */
.pink-button {
  background-color: #FFB6C1;
  border: none;
  color: white;
  transition: background-color 0.3s;
}

  .pink-button:hover {
    background-color: #FF69B4;
  }

/* Table Styling */
.table th {
  background-color: #FFB6C1;
  color: white;
  text-align: center;
}

.table td {
  text-align: center;
}

/* Table Hover Effect */
.table-hover tbody tr:hover {
  background-color: #ffe4e6;
}
