<p>laststageforgetpassword works!</p>
<div class="container">
  <h1>Reset Password</h1>

  <label for="new-password">New Password:</label>
  <input type="text"
         id="new-password"
         [(ngModel)]="newPassword"
         class="form-control"
         placeholder="Enter your new password"
         required />

  <label for="confirm-password">Confirm Password:</label>
  <input type="text"
         id="confirm-password"
         [(ngModel)]="confirmPassword"
         class="form-control"
         placeholder="Confirm your new password"
         required />

  <button class="btn btn-primary mt-2" (click)="resetPassword()">Reset Password</button>
</div>
