<div class="container-center">
  <div class="wrapper">
    <div class="title">
      Welcome to our Shop
    </div>
    <form #login="ngForm" (ngSubmit)="getData(login.value)">
      <div class="field">
        <input type="text" class="form-control" name="email" ngModel required>
        <label>Email Address</label>
      </div>
      <div class="field">
        <input type="text" class="form-control" name="password" ngModel required>
        <label>Password</label>
      </div>
      <div class="content">
        <div class="pass-link">
          <a (click)="forgotPassword()">Forgot password?</a>
        </div>
      </div>
      <div class="field">
        <input type="submit" value="Login">
      </div>
      <div class="signup-link">
        Not a member? <a routerLink="/Home/Register">Signup now</a>
      </div>
    </form>
  </div>
</div>
