<div class="container-center">
  <div class="wrapper">
    <div class="title">
      Welcome to our Shop
    </div>
    <form #login="ngForm" (ngSubmit)="getData(login.value)">
       
      <div class="field">
        <input type="text"
               class="form-control"
               name="email"
               placeholder="Enter your email"
               [(ngModel)]="emailInput"
               (input)="validateEmail()">  
             
        <label>Email Address</label>
        <div *ngIf="emailError" class="error-message">
          <small>{{ emailError }}</small>
        </div>
      </div>

       
      <div class="field">
        <input type="password"
               class="form-control"
               name="password"
               placeholder="Enter your password"
               [(ngModel)]="passwordInput"
               (input)="validatePassword()">  

        <label>Password</label>
        <div *ngIf="passwordError" class="error-message">
          <small>{{ passwordError }}</small>
        </div>
      </div>

       
      <div class="field">
        <input type="submit" value="Login" [disabled]="emailError || passwordError">
      </div>

       
      <div class="signup-link">
        Not a member? <a routerLink="/Home/Register">Signup now</a>
      </div>
    </form>
  </div>
</div>





