<div class="Profile_container">
  <div class="container">
    <div class="profile-header">
      <h2 class="title">Your Order History</h2>
    </div>

    <div *ngIf="userOrders.length > 0; else noOrders">
      <div class="table-responsive">
        <table class="order-table">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Payment Method</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of userOrders">
              <td>{{ order.id }}</td>
              <td>{{ order.paymentMethod }}</td>
              <td>${{ order.totalAmount }}</td>
              <td>{{ order.createAt | date: 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #noOrders>
      <p class="title">You have no orders yet.</p>
    </ng-template>

    <div class="button">
      <a routerLink="/Home/Profile" class="pink-button">Back to Profile</a>
    </div>
  </div>
</div>
