<div class="Profile_container">
  <div class="container" *ngIf="user">
    <!--<div class="profile-header">
      <img [src]="user.image" alt="User Image" class="profile-image">
      <h1 class="title">User Profile</h1>
    </div>-->

    <div class="user-details">
      <div class="detail-box">
        <img [src]="user.image" alt="User Image" class="profile-image">
      </div>
      <div class="detail-box">
        <p><span class="details"><strong>Name:</strong></span> {{ user.name }}</p>
      </div>
      <div class="detail-box">
        <p><span class="details"><strong>Email:</strong></span> {{ user.email }}</p>
      </div>
      <div class="detail-box">
        <p><span class="details"><strong>Address:</strong></span> {{ user.address }}</p>
      </div>
      <div class="detail-box">
        <p><span class="details"><strong>Gender:</strong></span> {{ user.Gender }}</p>
      </div>

      <div class="detail-box">
        <p><span class="details"><strong>Phone Number:</strong></span> {{ user.phone }}</p>
      </div>
      <div class="detail-box">
        <p><span class="details"><strong>PaymentMethods:</strong></span> {{ user.paymentMethods }}</p>
      </div>
    </div>
    <div class="button">
      <a routerLink="/Home/EditProfile" class="pink-button">Edit Profile</a>
    </div>
  </div>
</div>
