 <!--================End Main Header Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_text">
      <h3>Shop</h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="shop.html">Shop</a></li>
      </ul>
    </div>
  </div>
</section>
<!--================End Main Header Area =================-->
<!--================Product Area =================-->
<section class="product_area p_100">
  <div class="container">
    <div class="row product_inner_row">
      <div class="col-lg-9">
        <div class="row m0 product_task_bar">
          <div class="product_task_inner">
           

          </div>
        </div>
        <div class="row product_item_inner">
          <div class="col-lg-4 col-md-4 col-6" *ngFor="let i of productData">
            <div class="cake_feature_item">
              <div class="cake_img">
                <img style="width: 300px; height: 300px;" src="{{i.imageUrl}}" alt="">
              </div>
              <div class="cake_text">
                <h4>${{i.price}}</h4>
                <h3>{{i.name}}</h3>
                <!--<a class="pest_btn" href="#">Add to cart</a>-->
                <a class="pest_btn" routerLink="/productDetail/{{i.id}}">View Detail</a>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="row mt-5">
        <div class="col-12">
          <div class="p_w_title text-center mb-4">
            <h3>Top Sale Products</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 mb-4" *ngFor="let i of getRandomFourItems()">
              <div class="card h-100 text-center shadow-sm">
                <img [src]="i.imageUrl" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Top Sale Product">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <p class="card-text text-primary">${{i.price}}</p>
                  <a class="btn btn-sm btn-outline-dark" routerLink="/productDetail/{{i.id}}">View Detail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--================End Product Area =================-->
