       <!--================End Main Header Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_text">
      <h3>What To Offer</h3>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/category">Our Cakes</a></li>
      </ul>
    </div>
  </div>
</section>
<!--================End Main Header Area =================-->
<!--================Service Offer Area =================-->
<section class="service_offer_area p_100">
    <!--<div class="container">
        <div class="main_title">
          <h2>What We Offer</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="row service_main_item_inner">
          <div class="col-lg-4 col-sm-6" *ngFor="let i of categorylist">
            <div class="service_m_item">
              <div class="service_img_inner">
                <div class="service_img">
                  <img style="width:100%;" class="rounded-circle" src="{{i.image}}" alt="{{i.image}}">
                </div>
              </div>
              <div class="service_text">
                <a routerLink="/product/{{i.id}}"><h4>{{i.name}}</h4></a>
              </div>
            </div>
          </div>
          </div>
      </div>
    </section>-->
    <!--🔍 بحث يدوي وصوتي-->
    <div class="container mb-4 mt-4">
        <div class="input-group w-50 mx-auto">
            <input type="text" [(ngModel)]="searchTerm" (input)="filterCategories()" class="form-control" placeholder="Search category...">
            <button class="btn btn-pink" (click)="startVoiceSearch()" style="border: 1px solid #ff69b4;">
                <i class="fa fa-microphone"></i> Voice
            </button>
        </div>
    </div>

    <!--✅ القسم المعروض بناءً على نتائج البحث-->
    <section class="service_offer_area p_100">
        <div class="container">
            <div class="main_title">
                <h2>What We Offer</h2>
                <p>Explore our delicious categories</p>
            </div>
            <div class="row service_main_item_inner">
                <div class="col-lg-4 col-sm-6" *ngFor="let i of filteredCategories">
                    <div class="service_m_item">
                        <div class="service_img_inner">
                            <div class="service_img">
                                <img style="width:200px; height:200px; object-fit: cover;" class="rounded-circle" [src]="i.image" alt="{{i.name}}">
                            </div>
                        </div>
                        <div class="service_text">
                            <a [routerLink]="'/product/' + i.id"><h4>{{i.name}}</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--================End Service Offer Area =================-->
    <!--================Special Recipe Area =================-->
    <section class="special_recipe_area">
        <div class="container">
            <div class="special_recipe_slider owl-carousel">
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/recipe/recipe-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Special Recipe</h4>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                            <a class="w_view_btn" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/recipe/recipe-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Special Recipe</h4>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                            <a class="w_view_btn" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/recipe/recipe-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Special Recipe</h4>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                            <a class="w_view_btn" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/recipe/recipe-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Special Recipe</h4>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                            <a class="w_view_btn" href="#">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Special Recipe Area =================-->
    <!--================Discover Menu Area =================-->
    <section class="discover_menu_area">
        <div class="discover_menu_inner">
            <div class="container">
                <div class="main_title">
                    <h2>Discover Menu</h2>
                    <h5>Sweet bites to satisfy your cravings</h5>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="discover_item_inner">
                            <div class="discover_item">
                                <h4>Lava Cake</h4>
                                <p>Molten chocolate with ice cream <span>$7.99</span></p>
                            </div>
                            <div class="discover_item">
                                <h4>Cheesecake</h4>
                                <p>Creamy with fresh strawberries <span>$6.50</span></p>
                            </div>
                            <div class="discover_item">
                                <h4>Tiramisu</h4>
                                <p>Coffee cream & soft layers <span>$6.80</span></p>
                            </div>
                            <div class="discover_item">
                                <h4>Fruit Tart</h4>
                                <p>Custard & fresh fruits <span>$6.20</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="discover_item_inner">
                            <div class="discover_item">
                                <h4>Velvet Cupcake</h4>
                                <p>Red cake with soft frosting <span>$3.25</span></p>
                            </div>
                            <div class="discover_item">
                                <h4>Oreo Sundae</h4>
                                <p>Ice cream, Oreos & syrup <span>$5.50</span></p>
                            </div>
                            <div class="discover_item">
                                <h4>Banoffee</h4>
                                <p>Banana & toffee mix <span>$6.75</span></p>
                            </div>
                            <div class="discover_item">
                                <h4>Brûlée</h4>
                                <p>Vanilla cream & sugar top <span>$5.95</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================End Discover Menu Area =================-->
