.service_img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
* {
  text-decoration: none;
}
.btn-pink {
  background: linear-gradient(135deg, #ff69b4, #ff85c1);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

  .btn-pink:hover {
    background: linear-gradient(135deg, #ff85c1, #ff69b4);
    color: white;
  }
