.wheel-popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.wheel-popup {
    width: 150px;
    height: 150px;
    border: 8px solid #333;
    border-radius: 50%;
    background: conic-gradient( #f44336 0% 16.66%, #4caf50 16.66% 33.33%, #2196f3 33.33% 50%, #ff9800 50% 66.66%, #9c27b0 66.66% 83.33%, #00bcd4 83.33% 100% );
}

.spin-animation {
    animation: spin 3s ease-out forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1440deg); /* 4 دورات */
    }
}
