


<br />
<br />
<br />




<!--================Welcome Area =================-->
<section class="welcome_bakery_area">
  <div class="container">
    <div class="welcome_bakery_inner p_100">
      <div class="row">
        <div class="col-lg-6">
          <div class="main_title">
            <h2>Welcome to our Bakery</h2>
            <p>Indulge in the finest pastries – crafted with love and the best ingredients to make your day sweeter.</p>
          </div>
          <div class="welcome_left_text">
            <p>At Cakecious, we believe that every sweet bite should bring joy and warmth to your day. Our passion for baking is reflected in every cake, pastry, and confection we create. Whether you're celebrating a special occasion or just indulging in a little treat, our freshly baked goods are designed to bring smiles to faces and sweetness to hearts.</p>
            <a class="pink_btn" href="#">Know more about us</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="welcome_img">
            <img class="img-fluid" src="assets/img/cake-feature/welcome-right.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="cake_feature_inner">
      <div class="main_title">
        <h2>Our Featured Cakes</h2>
        <h5>Deliciously crafted with love and care for every occasion.</h5>
      </div>
      <div class="cake_feature_slider owl-carousel">
        <!-- Cake 1 -->
        <div class="item">
          <div class="cake_feature_item">
            <div class="cake_img">
              <img src="assets/img/cake-feature/c-feature-1.jpg" alt="Strawberry Cupcakes">
            </div>
            <div class="cake_text">
              <h4>$29</h4>
              <h3>Strawberry Cupcakes</h3>
              <a class="pest_btn" href="#">Add to cart</a>
            </div>
          </div>
        </div>
        <!-- Cake 2 -->
        <div class="item">
          <div class="cake_feature_item">
            <div class="cake_img">
              <img src="assets/img/cake-feature/c-feature-2.jpg" alt="Chocolate Cake">
            </div>
            <div class="cake_text">
              <h4>$29</h4>
              <h3>Chocolate Cake</h3>
              <a class="pest_btn" href="#">Add to cart</a>
            </div>
          </div>
        </div>
        <!-- Cake 3 -->
        <div class="item">
          <div class="cake_feature_item">
            <div class="cake_img">
              <img src="assets/img/cake-feature/c-feature-3.jpg" alt="Vanilla Cake">
            </div>
            <div class="cake_text">
              <h4>$29</h4>
              <h3>Vanilla Cake</h3>
              <a class="pest_btn" href="#">Add to cart</a>
            </div>
          </div>
        </div>
        <!-- Cake 4 -->
        <div class="item">
          <div class="cake_feature_item">
            <div class="cake_img">
              <img src="assets/img/cake-feature/c-feature-4.jpg" alt="Red Velvet Cake">
            </div>
            <div class="cake_text">
              <h4>$29</h4>
              <h3>Red Velvet Cake</h3>
              <a class="pest_btn" href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!--================End Welcome Area =================-->
<!--================Special Recipe Area =================-->
<section class="special_recipe_area">
  <div class="container">
    <div class="special_recipe_slider owl-carousel">
      <div class="item">
        <div class="media">
          <div class="d-flex">
            <img src="assets/img/recipe/recipe-1.png" alt="">
          </div>
          <div class="media-body">
            <h4>Special Recipe</h4>
            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
            <a class="w_view_btn" href="#">View Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="media">
          <div class="d-flex">
            <img src="assets/img/recipe/recipe-1.png" alt="">
          </div>
          <div class="media-body">
            <h4>Special Recipe</h4>
            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
            <a class="w_view_btn" href="#">View Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="media">
          <div class="d-flex">
            <img src="assets/img/recipe/recipe-1.png" alt="">
          </div>
          <div class="media-body">
            <h4>Special Recipe</h4>
            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
            <a class="w_view_btn" href="#">View Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="media">
          <div class="d-flex">
            <img src="assets/img/recipe/recipe-1.png" alt="">
          </div>
          <div class="media-body">
            <h4>Special Recipe</h4>
            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
            <a class="w_view_btn" href="#">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Special Recipe Area =================-->
<!--================Service Area =================-->
<section class="service_area">
  <div class="container">
    <div class="single_w_title">
      <h2>Main Services We Provide</h2>
    </div>
    <div class="row service_inner">
      <div class="col-lg-4 col-6">
        <div class="service_item">
          <i class="flaticon-food-2"></i>
          <h4>Celebration Cakes</h4>
          <p>Custom-designed cakes for all types of celebrations, including birthdays, weddings, and anniversaries.</p>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="service_item">
          <i class="flaticon-food-1"></i>
          <h4>Custom Cake Designs</h4>
          <p>
            Bring your vision to life with a fully customized cake design.

     </p>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="service_item">
          <i class="flaticon-food"></i>
          <h4>Cake Pops</h4>
          <p>
            Personalized cake toppers and decorations based on themes or specific requests.

    </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Service Area =================-->
<!--================Discover Menu Area =================-->
<section class="discover_menu_area">
  <div class="discover_menu_inner">
    <div class="container">
      <div class="main_title">
        <h2>Discover Menu</h2>
        <h5>Duis aute irure dolor in reprehenderit voluptate</h5>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="discover_item_inner">
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="discover_item_inner">
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
            <div class="discover_item">
              <h4>Double Chocolate Pie</h4>
              <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Discover Menu Area =================-->
<!--================Client Says Area =================-->
<section class="client_says_area p_100">
  <div class="container">
    <div class="client_says_inner">
      <div class="c_says_title">
        <h2 class="slogan">- Celebrate the sweetest moments with our signature cakes 🍰</h2>
      </div>
      <div class="client_says_slider owl-carousel">
        <div class="item">
          <div class="media">
            <div class="d-flex">
              <img src="assets/img/client/client-1.png" alt="">
              <h3>“</h3>
            </div>
            <div class="media-body">
              <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
              <h5>- Robert joe</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="media">
            <div class="d-flex">
              <img src="assets/img/client/client-1.png" alt="">
            </div>
            <div class="media-body">
              <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
              <h5>- Robert joe</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="media">
            <div class="d-flex">
              <img src="assets/img/client/client-1.png" alt="">
            </div>
            <div class="media-body">
              <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
              <h5>- Robert joe</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Client Says Area =================-->
<!--================End Client Says Area =================-->
<section class="our_chef_area p_100">
  <div class="container">
    <div class="row our_chef_inner">
      <div class="col-lg-3 col-6">
        <div class="chef_text_item">
          <div class="main_title">
            <h2>Our Chefs</h2>
            <!--<p>Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis. Lorem ipsum dolor sit ametion.</p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="chef_item">
          <div class="chef_img">
            <img class="img-fluid" src="https://yt3.googleusercontent.com/gj-hWGQs7AClKMw8mmsdIlK-GlOlLtysbuE_E4AjFgNoQu5nCpr5NryNUvYAFn4fOja8jbE0=s900-c-k-c0x00ffffff-no-rj" alt="">
            <ul class="list_style">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div>
          <a href="#"><h4>Emtyaz AlJeetawy</h4></a>
          <h5>Expert in Cake Making</h5>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="chef_item">
          <div class="chef_img">
            <img class="img-fluid" src="https://v-genius.fatafeat.com/storage/chefs/457704898680482322.jpg" alt="">
            <ul class="list_style">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div>
          <a href="#"><h4>Deema Hajjawi</h4></a>
          <h5>Expert in Cake Making</h5>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="chef_item">
          <div class="chef_img">
            <img class="img-fluid" src="https://scontent.famm10-1.fna.fbcdn.net/v/t39.30808-6/451483181_1045966750230509_6662100540065482606_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEmTXZBEIbJCeTTJulKFc3YPj0HdmwK-4I-PQd2bAr7gpheMEgiZ19GpD7MstffI86Cdz69H7y1wEi-2R8rUNoI&_nc_ohc=5ep8laZahUIQ7kNvgG0Bj4u&_nc_oc=AdmK8BGG_K0H2bjTDEhBUVWJvRyMUG503Ij4gvufd3TU-P7MMnvQBHiBPphDbHzZn4g&_nc_zt=23&_nc_ht=scontent.famm10-1.fna&_nc_gid=D_BTZ0WMgDyLkTYOskr1QQ&oh=00_AYEr3Nrnbow6wpzX4F3_VlmKRWTH5ZwXR9PZeJLXybJz_w&oe=67F3DA7D" alt="">
            <ul class="list_style">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div>
          <a href="#"><h4>Ola Nairoukh</h4></a>
          <h5>Expert in Cake Making</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Client Says Area =================-->
<!--================Latest News Area =================-->

  <section class="latest_news_area p_100">
    <div class="container">
      <div class="main_title">
        <h2>Latest Blog: The Evolution of Bakery Products</h2>
        <h5>Discover the latest trends and innovations in the world of baking.</h5>
      </div>
      <div class="row latest_news_inner">
        <div class="col-lg-4 col-md-6">
          <div class="l_news_image">
            <div class="l_news_img">
              <img class="img-fluid" src="assets/img/blog/latest-news/l-news-1.jpg" alt="Healthy Bakery Products">
            </div>
            <div class="l_news_hover">
              <a href="#"><h5>March 25, 2025</h5></a>
              <a href="#"><h4>Healthy Bakery Revolution: Trends in Low Sugar and Gluten-Free Products</h4></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="l_news_item">
            <div class="l_news_img">
              <img class="img-fluid" src="assets/img/blog/latest-news/l-news-2.jpg" alt="Innovative Bakery Designs">
            </div>
            <div class="l_news_text">
              <a href="#"><h5>March 20, 2025</h5></a>
              <a href="#"><h4>The Art of Bakery: Innovation in Flavors and Designs</h4></a>
              <p>The bakery industry is constantly evolving, with innovative flavors and artistic designs becoming the hallmark of modern pastry chefs. From tropical fruit-infused pastries to intricate cake designs, find out how creativity is shaping the future of baking...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="l_news_item">
            <div class="l_news_img">
              <img class="img-fluid" src="assets/img/blog/latest-news/l-news-3.jpg" alt="Sustainability in the Bakery Industry">
            </div>
            <div class="l_news_text">
              <a href="#"><h5>March 15, 2025</h5></a>
              <a href="#"><h4>Sustainability in the Bakery Industry: New Practices and Innovations</h4></a>
              <p>With the growing demand for sustainable practices, many bakeries are focusing on reducing waste, using biodegradable packaging, and sourcing local ingredients. Learn how sustainability is changing the way bakeries operate...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Latest News Area =================-->
  <!--================Newsletter Area =================-->
  <!--================End Newsletter Area =================-->
